img {
    width: 180px;
    border: 2px blue solid;
    padding: 1px;
}

body {
    background-color: yellow;
}

.red {
    color: blue;
}
.gg {
    width:400px;
    display:flex;
    justify-content:flex-start;
    border:1px yellow dotted;
   padding-top:45px; 
}